<div class="tabular-content-container">
  {% for item in include.content %}
  <div 
    class="tabular-content-item"
    {% if item.type %}data-type="{{ item.type }}"{% endif %}
    {% if item.rating %}data-rating="{{ item.rating }}"{% endif %}
    {% if item.genre %}data-genre="{{ item.genre }}"{% endif %}
  >
    <div class="tabular-content-sidebar">
      <div class="tabular-content-sidebar-date">{{ item.date }}</div>
      <div class="tabular-content-sidebar-image">
        {% if item.image %}
        <img src="{{ item.image[0].url }}" />
        {% endif %}
      </div>
    </div>
    <div class="tabular-content">
      <div class="tabular-content-header">
        <div class="tabular-content-header-name">
          {% if item.name %}
          <a
            name="{{ item.name | slugify }}"
            {%
            if
            item.permalink
            %}
            href="{{ item.permalink }}"
            {%
            else
            %}
            href="#{{ item.name | slugify }}"
            {%
            endif
            %}
          >
            {{ item.name }}
          </a>
          {% else %}
          <strong>
            {% for c in item.content %} {% if c.rating %} {% if c.type %}
            <a href="/catalogs/{{ c.type }}s/#{{ c.name | slugify }}"
              >{{ c.name }}</a
            >
            {% endif %} {% else %} {{ c.name }} {% endif %}
            <br />
            {% endfor %}
          </strong>
          {% endif %}
        </div>
      </div>
      <div class="tabular-content-text">
        {{ item.content | markdownify }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
