.image-lightbox__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  visibility: hidden;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);

  &.is-active,
  &:target {
    visibility: visible;
  }

  img {
    max-width: 100%;
    width: auto;
    display: block;
  }
}

.image-lightbox__content {
  margin: 0 auto;
}
