$background-color: #fcf9f4;
$primary-color: #141e30;
$medium-color: #141e3050;
$soft-color: #edeae6;
$accent-color: #ff0606;

$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$monospace-font: "IBM Plex Mono";

body {
  background: $background-color;
  color: $primary-color;
  font-family: $font;
  margin: 0;
  border-top: 3px solid $accent-color;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 22px;
}

pre, code {
  font-family: $monospace-font;
}

.logo {
  background: $accent-color;
  display: inline-block;
  padding: 10px;
  color: $background-color;
  font-weight: 900;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media only screen and (max-width: 600px) {
    border-bottom-left-radius: 0;
  }
}

.content {
  flex: 1;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
}

p, li {
  font-size: 18px;
  line-height: 24px;
}

ul, ol {
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}

blockquote {
  padding: 10px;
  margin-left: 0;
  background-color: $soft-color;
  border: 1px $medium-color solid;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;
  width: calc(100% - 2em);

  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

#sidenote-column-right,
#sidenote-column-left {
  height: 100%;
  top: 50px;
  position: absolute;
  width: 200px;
  right: calc(50% - 600px + 50px);

  p {
    font-size: 14px;
    opacity: 0.6;
    line-height: 20px;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

a.footnote {
  display: none;
}

[role='doc-endnotes'] {
  display: none;
}

.sidenote-self-link, .reversefootnote {
  display: none;
}


pre {
  background-color: $soft-color;
  border: 1px $medium-color solid;
  padding: 1em;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;
  width: calc(100% - 2em);
  white-space: pre-wrap;
}

.notice {
  background-color: $soft-color;
  border: 1px $medium-color solid;
  padding: 1em;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;
  width: calc(100% - 2em);

  > div {
    flex: 1;

    &:last-child {
      text-align: right;

      @media only screen and (max-width: 600px) {
        text-align: left;
      }
    }
    a {
      color: $accent-color !important;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.notice--draft {
  > div {
    text-align: left !important;
  }
}

.subscription-input {
  display: flex;

  input {
    border: 1px solid $medium-color;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4em;
    margin-right: 10px;
  }

  input[type="submit"] {
    display: block;
    width: 150px;
    background: $accent-color;
    border: 0;
    border-radius: 5px;
    color: $background-color;
    outline: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
  }
}

a {
  color: $accent-color !important;
}

.tabular-content-header-name a {
  color: $primary-color !important;
}

.index-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -20px;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  column-gap: 20px;

  > div {
    flex: 1;
    background-color: $soft-color;
    border: 1px $medium-color solid;
    padding: 1em;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
  }

  h2 {
    font-size: 16px;
    margin-top: 0;
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  a {
    color: inherit !important;
  }
}

.colophon {
  margin-top: -1em;
  opacity: 0.4;
}


@media only screen and (max-width: 600px) {
  .logo {
    max-width: inherit;
  }
}


a.draft {
  opacity: 0.5;
  color: $primary-color !important;
  text-decoration: line-through;
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todo {
  display: flex;

  input {
    margin-right: 5px;
  }
}

@import 'timeline';

.footer {
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
  flex-shrink: 0;
  padding-bottom: 2em;
}