
@import "fonts";

$background-color: #fcf9f4;
$primary-color: #141e30;
$medium-color: #141e3050;
$soft-color: #edeae6;
$soft-color--dark-mode: #435575;
$accent-color: #dc0909;
$accent-color--dark-mode: #ff3b3b;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace-font: "IBM Plex Mono";

$mobile-breakpoint: 600px;

body {
  background: $background-color;
  color: $primary-color;
  font-family: $font;
  margin: 0;
  border-top: 3px solid $accent-color;

  @media (prefers-color-scheme: dark) {
    color: $background-color;
    background: $primary-color;
  }
}

img {
  max-width: 100%;
}

h2 {
  font-size: 22px;
}

pre,
code {
  font-family: $monospace-font;
}

.logo {
  background: $accent-color;
  @media (prefers-color-scheme: dark) {
    background: $accent-color--dark-mode;
  }
  display: inline-block;
  padding: 10px;
  color: $background-color;
  font-weight: 900;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media only screen and (max-width: $mobile-breakpoint) {
    border-bottom-left-radius: 0;
  }
}

.content {
  flex: 1;

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 10px;
  }
}

.container {
  max-width: $mobile-breakpoint;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
  position: relative;
}

p,
li {
  font-size: 18px;
  line-height: 24px;
}

ul,
ol {
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}

blockquote {
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: $soft-color;
  @media (prefers-color-scheme: dark) {
    background-color: $soft-color--dark-mode;
  }

  border: 1px $medium-color solid;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-style: oblique;
  }

  a {
    display: block;
    text-align: right;
    font-weight: 600;
    font-style: normal;
  }
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

a.footnote {
  display: none;
}

pre {
  background-color: $soft-color;
  @media (prefers-color-scheme: dark) {
    background-color: $soft-color--dark-mode;
  }
  border: 1px $medium-color solid;
  padding: 1em;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;
  width: calc(100% - 2em);
  white-space: pre-wrap;
}

.notice {
  background-color: $soft-color;
  border: 1px $medium-color solid;
  padding: 1em;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  display: flex;
  width: calc(100% - 2em);

  @media (prefers-color-scheme: dark) {
    background-color: $soft-color--dark-mode;
  }

  > div {
    flex: 1;

    &:last-child {
      text-align: right;

      @media only screen and (max-width: $mobile-breakpoint) {
        text-align: left;
      }
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.notice--draft {
  > div {
    text-align: left !important;
  }
}

a {
  color: $accent-color !important;
  @media (prefers-color-scheme: dark) {
    color: $accent-color--dark-mode !important;
  }
}

.index-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -20px;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }

  column-gap: 20px;

  > div {
    flex: 1;
    background-color: $soft-color;
    border: 1px $medium-color solid;
    padding: 1em;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;

    @media (prefers-color-scheme: dark) {
      background-color: #ffffff50;
    }
  }

  h2 {
    font-size: 16px;
    margin-top: 0;
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  a {
    color: inherit !important;
  }
}

.colophon {
  margin-top: -1em;
  opacity: 0.4;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .logo {
    max-width: inherit;
  }
}

a.placeholder,
a.draft {
  opacity: 0.5;
  color: $primary-color !important;

  @media (prefers-color-scheme: dark) {
    color: $background-color !important;
  }
}

a.placeholder {
  text-decoration: none;
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todo {
  display: flex;

  input {
    margin-right: 5px;
  }
}

.footer {
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
  flex-shrink: 0;
  padding-bottom: 2em;
}

@import "timeline";
@import "subscription-widget";
@import "lightbox";
@import "littlefoot";
@import "toc";