$timeline-left-column-size: 120px;
$timeline-gutter-size: 10px;

.tabular-content-container {
  margin: auto;
  margin-left: $timeline-gutter-size;
  display: block;
  position: relative;
  @media only screen and (min-width: $mobile-breakpoint) {
    margin-left: $timeline-left-column-size;
  }
}

.tabular-content-item {
  margin-bottom: 2em;
  display: flex;
  margin: auto;
  border-left: 2px solid $soft-color;
  padding: 0 0 50px 0px;
  position: relative;

  @media (prefers-color-scheme: dark) {
    border-left-color: #ffffff50;
  }

  &:last-child {
    border-left: 0;
  }

  &:before {
    position: absolute;
    left: -9px;
    top: 2px;
    content: " ";
    border: 0;
    border-radius: 500%;
    background: $soft-color;
    height: 15px;
    width: 15px;

    @media (prefers-color-scheme: dark) {
      background: #ffffff50;
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.tabular-content-sidebar {
  @media only screen and (min-width: $mobile-breakpoint) {
    position: absolute;
    left: $timeline-left-column-size * -1;
    width: $timeline-left-column-size - ($timeline-gutter-size * 2);
  }
  @media only screen and (max-width: $mobile-breakpoint) {
    padding-left: $timeline-gutter-size * 2;
    padding-right: $timeline-gutter-size * 2;
    padding-bottom: $timeline-gutter-size * 2;
  }
}

.tabular-content-sidebar-date {
  opacity: 0.4;
  text-align: right;
  @media only screen and (max-width: $mobile-breakpoint) {
    text-align: left;
  }
}

.tabular-content-sidebar-image img {
  margin-top: $timeline-gutter-size;

  @media only screen and (max-width: $mobile-breakpoint) {
    max-width: 100%;
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    width: $timeline-left-column-size - ($timeline-gutter-size * 2);
  }
}

.tabular-content-header {
  display: flex;
  padding-bottom: $timeline-gutter-size;
  margin-bottom: $timeline-gutter-size;
  padding-left: $timeline-gutter-size * 2;
}

.tabular-content-header-name {
  font-weight: bold;
}
.tabular-content-text {
  padding-left: $timeline-gutter-size * 2;
  margin-bottom: $timeline-gutter-size;
}
.tabular-content-header-colophon {
  padding-left: $timeline-gutter-size * 2;
  opacity: 0.4;
  flex: 1;
}

.tabular-content-header-colophon-item {
  margin-bottom: $timeline-gutter-size;
}

.tabular-content-header-name a {
  color: $primary-color !important;

  @media (prefers-color-scheme: dark) {
    color: $background-color !important;
  }
}
