.section-nav {
    list-style-type: none;
    background-color: $soft-color;
    border: 1px #141e3050 solid;
    padding: 1em;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 1em;
    float: right;

    @media (prefers-color-scheme: dark) {
        background-color: $soft-color--dark-mode;
    }

    ul {
        list-style-type: none;
        padding-left: 10px;
    }

    a {
        color: inherit !important;
    }

    .toc-h2 {
        font-size: 14px;
        font-weight: bold;
    }

    .toc-h3 {
        font-size: 14px;
        font-weight: normal;
    }

    .toc-h4 {
        font-size: 12px;
    }

    li {
        margin-bottom: 0;
    }
}