<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,600,600i,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      <div class="header">
        <a href='/'>
          <div class="logo">
            arcana dot computer
          </div>
        </a>
      </div>

      <div class="content">
      {{ content }}
      </div>

      <div class="footer">
        © 2020 Justin Duke • {{ site.data.footers | sample }}
      </div>
    </div>
  </body>
</html>
