---
layout: default
---
<h1>{{ page.title }}</h1>

{% if page.updated %}
<div class="colophon">
<em>Updated on {{ page.updated }}</em>
</div>
{% endif %}

{% if page.draft %}
<div class='notice notice--draft'>
<div>
Hello! This page is a <strong>draft</strong>. Feel free and poke around, but there are
significant structural and contentual pieces yet to be implemented. Mind the proverbial construction
noise, and feel free to subscribe here to get notified once it's completed:

<br /><br />

<form
  action="https://buttondown.email/api/emails/embed-subscribe/jmduke"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://newsletter.jmduke.com', 'popupwindow')"
  class="subscription-input"
>
  <input name='email' type='email' placeholder="your@lovely.email">
  <input type="hidden" value="1" name="embed">
  <input type="submit" value="Subscribe">
</form>
<br />

{% if page.todos %}
<div class="todo-list">
{% for todo in page.todos %}
<div class="todo">
<input type="checkbox" onclick="return false;">
  <label>{{ todo }}</label>
  </div>
  {% endfor %}
</div>
{% endif %}
</div>
</div>
{% endif %}

{{ content }}